<div class="cuerpo">
    <div class="contenido">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nulla id urna quis velit ultrices facilisis. Sed id lectus velit. 
        Phasellus mattis urna vel bibendum. Sed hendrerit libero eget est tristique, 
        sed mattis tortor facilisis. Sed ut purus nunc. Vestibulum eget sapien eu nisi 
        euismod faucibus. Sed non posuere quam, ut tempus ipsum. Fusce aliquam libero eu justo consequat, 
        in sollicitudin ante egestas. Vivamus pellentesque nisl nec orci malesuada varius.</p>
    </div>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GUf81ofAZV0?si=VuFdXiivAb3NW0hv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        
    </div>
</div>